/* input {
    border-radius: 8px;
    padding-left: 6px;
    box-sizing: border-box;
    display: block;
    background-color: #3dbdb6;
    transform-origin: center center;
    margin: 0 auto 8px auto;
} */

.FileUpload{
    border-radius: 20px;
    padding-left: 285px;
    box-sizing: border-box;
    display: block;
    background-color: #3dbdb6;
    transform: scale(1.25);
    transform-origin: center center;
    margin: 0 auto 8px auto;
}

.StudentCVUpload{
    border-radius: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #3dbdb6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto 8px auto;

}

.StudentCVUpload:hover{
    background-color: #36a9a3;
}