input {
    border-radius: 8px;
    padding-left: 6px;
    box-sizing: border-box;
    display: block;
    
    transform-origin: center center;
    margin: 0 auto 8px auto;
}

.FileUpload{
    border-radius: 20px;
    padding-left: 285px;
    box-sizing: border-box;
    display: block;
    transform: scale(1.25);
    transform-origin: center center;
    margin: 0 auto 8px auto;
}