
.hero {
    position: relative;
    overflow: hidden;
    background-image: url('../assets/hero-image.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
}

.hero .container {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 40px 15px;
}